Node_RED flow.json
[{"id":"1eabbca0.20a773","type":"tab","label":"SmartInternz Internship","disabled":false,"info":""},{"id":"afaf07e.526b6f8","type":"function","z":"1eabbca0.20a773","name":"PreToken","func":"global.set(\"country\",msg.payload.country)\nglobal.set(\"stat\",msg.payload.stat)\nglobal.set(\"am\",msg.payload.am)\nglobal.set(\"al\",msg.payload.al)\nglobal.set(\"pe\",msg.payload.pe)\nglobal.set(\"hb\",msg.payload.hb)\nglobal.set(\"bmi\",msg.payload.bmi)\nglobal.set(\"polio\",msg.payload.polio)\nglobal.set(\"te\",msg.payload.te)\nglobal.set(\"dip\",msg.payload.dip)\nglobal.set(\"gdp\",msg.payload.gdp)\nglobal.set(\"income\",msg.payload.income)\nglobal.set(\"school\",msg.payload.school)\nvar apikey=\"Lw2DiF0jlAOUgplP2bc6ybKAW9PHsj_-NQwNYT7ue_dC\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":360,"wires":[["451fc1fc.a42e7"]]},{"id":"451fc1fc.a42e7","type":"http request","z":"1eabbca0.20a773","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":479,"y":348.9999952316284,"wires":[["58062916.251268"]]},{"id":"9496f30.453c01","type":"debug","z":"1eabbca0.20a773","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":918.0000114440918,"y":90.99999713897705,"wires":[]},{"id":"58062916.251268","type":"function","z":"1eabbca0.20a773","name":"Pre Prediction","func":"var c=global.get(\"country\")\nvar s=global.get(\"stat\")\nvar am=global.get(\"am\")\nvar al=global.get(\"al\")\nvar pe=global.get(\"pe\")\nvar hb=global.get(\"hb\")\nvar bmi=global.get(\"bmi\")\nvar polio=global.get(\"polio\")\nvar te=global.get(\"te\")\nvar dip=global.get(\"dip\")\nvar gdp=global.get(\"gdp\")\nvar income=global.get(\"income\")\nvar school=global.get(\"school\")\nvar token=msg.payload.access_token\nvar instance_id=\"ad2b1e18-25ba-4cfe-bb2e-3426341b4ba9\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"Country\",\"Year\",\"Status\",\"Adult Mortality\",\"infant deaths\",\"Alcohol\",\"percentage expenditure\",\"Hepatitis B\",\"Measles \",\" BMI \",\"under-five deaths \",\"Polio\",\"Total expenditure\",\"Diphtheria \",\" HIV/AIDS\",\"GDP\",\"Population\",\" thinness  1-19 years\",\" thinness 5-9 years\",\"Income composition of resources\",\"Schooling\"],\"values\":[[c,null,s,am,null,al,pe,hb,null,bmi,null,polio,te,dip,null,gdp,null,null,null,income,school]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":676.0000076293945,"y":311.9999990463257,"wires":[["8dcf47b9.728318"]]},{"id":"8dcf47b9.728318","type":"http request","z":"1eabbca0.20a773","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v4/deployments/8e71595f-9a6b-4b98-861c-7d265a6c5030/predictions","tls":"","persist":false,"proxy":"","authType":"","x":510,"y":200,"wires":[["865c90d2.8cf89"]]},{"id":"55451301.c2e9bc","type":"ui_form","z":"1eabbca0.20a773","name":"","label":"","group":"b77d089f.39c428","order":2,"width":0,"height":0,"options":[{"label":"Country","value":"country","type":"text","required":false,"rows":null},{"label":"Status(Developing/Developed)","value":"stat","type":"text","required":false,"rows":null},{"label":"Adult Mortality(per 1000 person)","value":"am","type":"number","required":true,"rows":null},{"label":"Alcohol Consumption per capita (in litres)","value":"al","type":"number","required":false,"rows":null},{"label":"Percentage expenditure on health as percentage of GDP per capita","value":"pe","type":"number","required":true,"rows":null},{"label":"Hepatitis B immunization covera among 1 year-olds(%)","value":"hb","type":"number","required":true,"rows":null},{"label":"Average Body Mass Index of entire population","value":"bmi","type":"number","required":true,"rows":null},{"label":"Polio immunization covera among 1 year-olds(%)","value":"polio","type":"number","required":true,"rows":null},{"label":"Government expenditure on health as a percentage of total government expenditure (%)","value":"te","type":"number","required":true,"rows":null},{"label":"Diphtheria (DTP3) immunization coverage among 1-year-olds (%)","value":"dip","type":"number","required":true,"rows":null},{"label":"GDP per capita (in USD)","value":"gdp","type":"number","required":true,"rows":null},{"label":"Human Development Index in terms of income composition of resources (0 to 1)","value":"income","type":"number","required":false,"rows":null},{"label":"Number of years of Schooling(years)","value":"school","type":"number","required":true,"rows":null}],"formValue":{"country":"","stat":"","am":"","al":"","pe":"","hb":"","bmi":"","polio":"","te":"","dip":"","gdp":"","income":"","school":""},"payload":"","submit":"Submit","cancel":"Cancel","topic":"","x":115,"y":383.9999952316284,"wires":[["afaf07e.526b6f8"]],"info":"<input type=\"submit\">"},{"id":"ba105ec5.7abbf","type":"ui_text","z":"1eabbca0.20a773","group":"f5655e1e.62d9e","order":1,"width":6,"height":1,"name":"","label":"Life expectancy :","format":"{{msg.payload}}","layout":"row-spread","x":890,"y":180,"wires":[],"icon":"node-red/white-globe.svg"},{"id":"865c90d2.8cf89","type":"function","z":"1eabbca0.20a773","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nmsg.payload=msg.payload.toFixed(2)+ \" years\"\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":140,"wires":[["9496f30.453c01","ba105ec5.7abbf"]]},{"id":"e4ee8d27.844de","type":"function","z":"1eabbca0.20a773","name":"PreToken","func":"global.set(\"am\",msg.payload.am)\nglobal.set(\"al\",msg.payload.al)\nglobal.set(\"pe\",msg.payload.pe)\nglobal.set(\"hb\",msg.payload.hb)\nglobal.set(\"bmi\",msg.payload.bmi)\nglobal.set(\"polio\",msg.payload.polio)\nglobal.set(\"te\",msg.payload.te)\nglobal.set(\"dip\",msg.payload.dip)\nglobal.set(\"gdp\",msg.payload.gdp)\nglobal.set(\"income\",msg.payload.income)\nglobal.set(\"school\",msg.payload.school)\nvar apikey=\"Lw2DiF0jlAOUgplP2bc6ybKAW9PHsj_-NQwNYT7ue_dC\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":680,"wires":[["b66bb2da.d3068"]]},{"id":"b66bb2da.d3068","type":"http request","z":"1eabbca0.20a773","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":479,"y":668.9999952316284,"wires":[["671f97d6.a81a28"]]},{"id":"7613ee75.719ff","type":"debug","z":"1eabbca0.20a773","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":850,"y":440,"wires":[]},{"id":"671f97d6.a81a28","type":"function","z":"1eabbca0.20a773","name":"Pre Prediction","func":"var am=global.get(\"am\")\nvar al=global.get(\"al\")\nvar pe=global.get(\"pe\")\nvar hb=global.get(\"hb\")\nvar bmi=global.get(\"bmi\")\nvar polio=global.get(\"polio\")\nvar te=global.get(\"te\")\nvar dip=global.get(\"dip\")\nvar gdp=global.get(\"gdp\")\nvar income=global.get(\"income\")\nvar school=global.get(\"school\")\nvar token=msg.payload.access_token\nvar instance_id=\"ad2b1e18-25ba-4cfe-bb2e-3426341b4ba9\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"fields\": [\"Adult Mortality\",\"Alcohol\",\"percentage expenditure\",\"Hepatitis B\",\" BMI \",\"Polio\",\"Total expenditure\",\"Diphtheria \",\"GDP\",\"Income composition of resources\",\"Schooling\"],\"values\":[[am,al,pe,hb,bmi,polio,te,dip,gdp,income,school]]}\nreturn msg;","outputs":1,"noerr":0,"x":676.0000076293945,"y":631.9999990463257,"wires":[["d9d64991.da9b08"]]},{"id":"d9d64991.da9b08","type":"http request","z":"1eabbca0.20a773","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v3/wml_instances/ad2b1e18-25ba-4cfe-bb2e-3426341b4ba9/deployments/334589b6-9b0b-4b13-baad-d05ab2e9612d/online","tls":"","persist":false,"proxy":"","authType":"","x":510,"y":520,"wires":[["30c70fc4.0e7dc","7613ee75.719ff"]]},{"id":"faacac11.233eb","type":"ui_text","z":"1eabbca0.20a773","group":"93582b2.045aed8","order":1,"width":6,"height":1,"name":"","label":"Life expectancy :","format":"{{msg.payload}}","layout":"row-spread","x":870,"y":520,"wires":[],"icon":"node-red/white-globe.svg"},{"id":"30c70fc4.0e7dc","type":"function","z":"1eabbca0.20a773","name":"","func":"msg.payload=msg.payload.values[0][0]\nmsg.payload=msg.payload.toFixed(2)+\" years\"\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":460,"wires":[["faacac11.233eb"]]},{"id":"9a6285cf.79adb8","type":"ui_form","z":"1eabbca0.20a773","name":"","label":"","group":"ab87b1c4.4a94e","order":1,"width":0,"height":0,"options":[{"label":"Adult Mortality(per 1000 person)","value":"am","type":"number","required":true,"rows":null},{"label":"Alcohol Consumption per capita (in litres)","value":"al","type":"number","required":false,"rows":null},{"label":"Percentage expenditure on health as percentage of GDP per capita","value":"pe","type":"number","required":false,"rows":null},{"label":"Hepatitis B immunization covera among 1 year-olds(%)","value":"hb","type":"number","required":true,"rows":null},{"label":"Average Body Mass Index of entire population","value":"bmi","type":"number","required":true,"rows":null},{"label":"Polio immunization covera among 1 year-olds(%)","value":"polio","type":"number","required":true,"rows":null},{"label":"Government expenditure on health as a percentage of total government expenditure (%)","value":"te","type":"number","required":true,"rows":null},{"label":"Diphtheria (DTP3) immunization coverage among 1-year-olds (%)","value":"dip","type":"number","required":true,"rows":null},{"label":"GDP per capita (in USD)","value":"gdp","type":"number","required":true,"rows":null},{"label":"Human Development Index in terms of income composition of resources (0 to 1)","value":"income","type":"number","required":false,"rows":null},{"label":"Number of years of Schooling(years)","value":"school","type":"number","required":true,"rows":null}],"formValue":{"am":"","al":"","pe":"","hb":"","bmi":"","polio":"","te":"","dip":"","gdp":"","income":"","school":""},"payload":"","submit":"Submit","cancel":"Cancel","topic":"","x":110,"y":680,"wires":[["e4ee8d27.844de"]],"info":"<input type=\"submit\">"},{"id":"abcca375.9307a","type":"inject","z":"1eabbca0.20a773","name":"","topic":"","payload":"[]","payloadType":"bin","repeat":"200","crontab":"","once":true,"onceDelay":"1","x":690,"y":200,"wires":[["ba105ec5.7abbf"]]},{"id":"9a3601d3.4429e","type":"inject","z":"1eabbca0.20a773","name":"","topic":"","payload":"","payloadType":"str","repeat":"200","crontab":"","once":true,"onceDelay":"1","x":690,"y":560,"wires":[["faacac11.233eb"]]},{"id":"f7f0c7c2.59f498","type":"inject","z":"1eabbca0.20a773","name":"","topic":"","payload":"","payloadType":"str","repeat":"200","crontab":"","once":true,"onceDelay":0.1,"x":70,"y":300,"wires":[["55451301.c2e9bc"]]},{"id":"18474494.5552cb","type":"inject","z":"1eabbca0.20a773","name":"","topic":"","payload":"[]","payloadType":"bin","repeat":"200","crontab":"","once":true,"onceDelay":0.1,"x":70,"y":580,"wires":[["9a6285cf.79adb8"]]},{"id":"b77d089f.39c428","type":"ui_group","z":"","name":"Input","tab":"ec3f43cc.338c8","order":1,"disp":true,"width":16,"collapse":false},{"id":"f5655e1e.62d9e","type":"ui_group","z":"","name":"Output","tab":"ec3f43cc.338c8","order":2,"disp":true,"width":"9","collapse":false},{"id":"93582b2.045aed8","type":"ui_group","z":"","name":"Output","tab":"5418c317.8dd5cc","order":3,"disp":true,"width":"6","collapse":false},{"id":"ab87b1c4.4a94e","type":"ui_group","z":"","name":"Inputs","tab":"5418c317.8dd5cc","order":1,"disp":true,"width":16,"collapse":false},{"id":"ec3f43cc.338c8","type":"ui_tab","z":"","name":"Predicting Life Expectancy With AUTO AI","icon":"dashboard","disabled":false,"hidden":false},{"id":"5418c317.8dd5cc","type":"ui_tab","z":"","name":"Predicting Life Expectancy with Python","icon":"dashboard","disabled":false,"hidden":false}]